* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-size: 25px;
  margin-bottom: 100px;
}
.para {
  padding: 10px;
  line-height: 35px;
  text-indent: 100px;
  text-align: justify;
}
.output {
  font-size: 14px;
  background-color: black;
  color: white;
  display: block;
  line-height: 7px;
}
.card-footer {
  background-color: black;
  color: white;
}
.card-footer h6 {
  font-size: 20px;
}
.cs {
  margin: 20px;
}
.legend {
  margin: 0 auto;
  font-size: 20px;
  padding: 0 5px;
  color: rgb(32, 61, 147);
  font-weight: bold;
}
.language-javascript {
  background-color: white !important;
  font-size: 20px !important;
  padding: -20px !important;
  font-weight: 200;
}
h1 {
  background: linear-gradient(
    90deg,
    hsla(250, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  color: transparent;
  background-clip: text;
  font-weight: bold;
}

.btn {
  padding: 5px;
  border: none !important;
  box-shadow: none !important; /* Removes any shadow that might appear as a border */
}

/* style.css */

/* Adjust the width of <pre> element based on screen size */

/* Set max-width for <pre> element */
@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
    font-size: 16px;
  }
  .language-javascript {
    background-color: white !important;
    font-size: 10px !important;
  }
  .legend {
    font-size: 10px;
    padding: 0 1px;
    margin: 0 auto;
  }
  h1 {
    font-size: 30px;
  }
  .para {
    line-height: 25px;
  }
  .btn-copy {
    font-size: 12px;
  }
}
